/*
    Styles for https://laurentboileau.com
    Version: v4.0.0
*/

/* Variables */

:root {
    color-scheme: light dark;
    --body-color: #3b3b3b;
    --body-background-color: white;
    --body-font: -apple-system, 'Helvetica Neue', sans-serif;
    --body-font-size: 16px;
    --body-line-height: 1.6;
    --monospace-font: SFMono-Regular, Menlo, monospace;
    --link-color: #007aff;
    --link-visited-color: #007aff;
    --post-date-color: #aaa;
    --footer-color: #ababab;
    --separator-color: #ccc;
}

@media(prefers-color-scheme: dark) {
    :root {
        --body-color: #efefef;
        --body-background-color: black;
    }
}

/* Base styles */

body {
    color: var(--body-color);
    background-color: var(--body-background-color);
    font-size: var(--body-font-size);
    font-family: var(--body-font);
}

a:link {
	color: var(--link-color);
}

a:visited {
	color: var(--link-visited-color);
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
}

.app-store-badge {
    height: 60px;
}

/* Navigation styles */

nav .separator {
    color: var(--separator-color);
    margin: 0 .75rem;
}

/* Main header styles */

#main-header .wrapper {
    padding: 100px 0;
    border-bottom: 1px dashed var(--separator-color);
}

#main-header h1 a, #main-header h1 a:visited {
    color: var(--body-color);
    background-color: none;
}

#main-header nav {
    font-size: .875rem;
}

/* Main styles */

main {
    margin: 4rem 0;
}

main h2 {
    font-size: 1rem;
}

main ul {
    padding: 0;
    list-style-type: none;
}

main li {
    margin-bottom: .5rem;
}

/* Posts styles */

#index-items span {
    color: var(--post-date-color);
    font-size: .875rem;
    font-family: var(--monospace-font);
    margin-right: .75rem;
}

#section-items {
    margin-top: 2.5rem;
}

#section-items li {
    margin-bottom: 3rem;
}

/* Post styles */

.post {
    line-height: var(--body-line-height);
}

.post header h2 {
    margin: 0 0 1em 0;
}

.post img.hero {
    display: block;
    width: 100%;
}

.post h3 {
    margin-top: 2em;
    margin-bottom: 1em;
}

.post footer time a {
    color: var(--footer-color);
}

/* Page styles */

.page {
    line-height: var(--body-line-height);   
}

.page header h2 {
    margin: 0 0 1em 0;
}

.page h3 {
    margin-top: 2em;
    margin-bottom: 1em;
}

/* Main footer styles */

#main-footer {
    font-size: .875rem;
}

#main-footer .wrapper {
    padding: 2rem 0;
    border-top: 1px solid var(--separator-color);
}

#main-footer nav {
    margin-bottom: .5rem;
}

#site-info {
    color: var(--footer-color);
    margin-top: 2rem;
}
