/*
    Styles for https://laurentboileau.com
    Version: v4.0.0
*/

/* Variables */

:root {
    color-scheme: light dark;
    
    /* Colors */
    --color-body: rgba(0, 0, 0, 0.75);
    --color-body-background: white;
    --color-link: hsl(212, 100%, 50%);
    --color-link-visited: hsl(250, 30%, 50%);
    --color-post-date: rgba(0, 0, 0, 0.25);
    --color-separator: rgba(0, 0, 0, 0.25);
    --color-footer: rgba(0, 0, 0, 0.35);

    /* Typefaces */
    --typeface-body: -apple-system, 'Helvetica Neue', sans-serif;
    --typeface-body-font-size: 12pt;
    --typeface-body-line-height: 1.6;
    --typeface-monospace: SFMono-Regular, Menlo, monospace;
}

@media(prefers-color-scheme: dark) {
    :root {
        /* Colors */
        --color-body: rgba(255, 255, 255, 1.0);
        --color-body-background: black;
        --color-link: hsl(212, 100%, 60%);
        --color-link-visited: hsl(250, 30%, 60%);
        --color-post-date: rgba(255, 255, 255, 0.75);
        --color-separator: rgba(255, 255, 255, 0.35);
        --color-footer: rgba(255, 255, 255, 0.75);
    }
}

/* Base styles */

body {
    color: var(--color-body);
    background-color: var(--color-body-background);
    font-size: var(--typeface-body-font-size);
    font-family: var(--typeface-body);
}

a:link {
	color: var(--color-link);
}

a:visited {
	color: var(--color-link-visited);
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
}

/* Navigation styles */

nav .separator {
    color: var(--color-separator);
    margin: 0 .75rem;
}

/* Site header styles */

#site-header .wrapper {
    padding: 40px 0;
    border-bottom: 1px dashed var(--color-separator);
}

#site-header h1 a, #site-header h1 a:visited {
    color: var(--color-body);
}

#site-header nav {
    font-size: .875rem;
}

/* Main styles */

main {
    margin: 50px 0;
}

main h2 {
    font-size: 1rem;
}

main ul {
    padding: 0;
    list-style-type: none;
}

main li {
    margin-bottom: .5rem;
}

/* Posts styles */

#index-items span {
    color: var(--color-post-date);
    font-size: .875rem;
    font-family: var(--typeface-monospace);
    margin-right: .75rem;
}

#section-items {
    margin-top: 2.5rem;
}

#section-items li {
    margin-bottom: 3rem;
}

/* Post styles */

.post {
    line-height: var(--typeface-body-line-height);
}

.post header h2 {
    margin: 0 0 1em 0;
}

.post img.hero {
    display: block;
    width: 100%;
}

.post h3 {
    margin-top: 2em;
    margin-bottom: 1em;
}

.post footer time a {
    color: var(--color-footer);
}

/* Page styles */

.page {
    line-height: var(--typeface-body-line-height);   
}

.page header h2 {
    margin: 0 0 1em 0;
}

.page h3 {
    margin-top: 2em;
    margin-bottom: 1em;
}

/* Site footer styles */

#site-footer .wrapper {
    padding: 50px 0 0;
    border-top: 1px solid var(--color-separator);
}

#site-footer nav {
    margin-bottom: .5rem;
}

#site-info {
    color: var(--color-footer);
    margin-top: 2rem;
}

/* Misc. styles */

.app-store-badge {
    height: 60px;
}
