/*
    Styles for http://laurentboileau.com
    Version: v3.0.0
*/

/* Variables */

:root {
    color-scheme: light dark;
    --body-color: #3b3b3b;
    --body-background-color: white;
    --body-font: -apple-system, 'Helvetica Neue', sans-serif;
    --body-font-size: 16px;
    --body-line-height: 1.6;
    --monospace-font: SFMono-Regular, Menlo, monospace;
    --link-color: #007aff;
    --link-visited-color: #007aff;
    --post-date-color: #aaa;
    --footer-color: #ababab;
    --accent-color: #fff200;
    --separator-color: #ccc;
    --header-spacing: 100px;
    --inner-max-width: 600px;
}

@media(prefers-color-scheme: dark) {
    :root {
        --body-color: #efefef;
        --body-background-color: black;
        --accent-color: #f95f39;
    }
}

/* Base styles */

body {
    color: var(--body-color);
    background-color: var(--body-background-color);
    font-size: var(--body-font-size);
    font-family: var(--body-font);
}

a {
	text-decoration: none;
}

a:link {
	color: var(--link-color);
}

a:visited {
	color: var(--link-visited-color);
}

.inner {
    max-width: var(--inner-max-width);
    margin: 0 auto;
}

.app-store-badge {
    height: 60px;
}

/* Navigation styles */

nav .separator {
    color: var(--separator-color);
    margin: 0 .5rem;
}

/* Header styles */

#main-header {
    margin: var(--header-spacing) auto 0 auto;
}

#main-header .inner {
    padding-bottom: var(--header-spacing);
    border-bottom: 1px dashed var(--separator-color);
}

#main-header h1 a, #main-header h1 a:visited {
    color: var(--body-color);
    background-color: none;
}

#main-header h1 a:hover {
    background-color: var(--accent-color);
}

#main-header nav {
    font-size: .875rem;
}

/* Main styles */

main {
    margin: 4rem 0;
}

main section {
    margin-bottom: 3rem;
}

main section h2 {
    font-size: 1rem;
}

main section ul {
    padding: 0;
    list-style-type: none;
}

main section li {
    margin-bottom: .5rem;
}

/* Posts styles */

#posts-list span {
    color: var(--post-date-color);
    font-size: .875rem;
    font-family: var(--monospace-font);
    margin-right: .5rem;
}

/* Post styles */

.post {
    line-height: var(--body-line-height);
}

.post header h2 {
    margin: 0 0 1em 0;
}

.post img.hero {
    display: block;
    width: 100%;
}

.post h3 {
    margin-top: 2em;
    margin-bottom: 1em;
}

.post footer time a {
    color: var(--footer-color);
}

/* Page styles */

.page {
    line-height: var(--body-line-height);   
}

.page header h2 {
    margin: 0 0 1em 0;
}

.page h3 {
    margin-top: 2em;
    margin-bottom: 1em;
}

/* Colophon styles */

#colophon .inner {
    border-top: 1px solid var(--separator-color);
    padding-top: 2rem;
    font-size: .875rem;
}

#colophon nav {
    margin-bottom: .5rem;
}

#site-info {
    color: var(--footer-color);
    margin-top: 2rem;
}
